.navbarSenadoDefault{
    height: 47px;
    min-height: 47px;
    line-height: 43px;
    background-color: #00305c;
    border-bottom: 4px solid #00824a;
    box-shadow: 0 4px 0 #fae042;
    margin-bottom: 4px;
    font-size: 12px;
}



@media screen and
(min-width: 992px) and
(max-width: 4080px){

}